/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.font-PermanentMarker {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
