#container{
  background-color: white;
  height: 100%;
 background-image: url("../../assets/image/sfondo_per_area_riservata.webp");
 background-size: 100%;
 object-fit: contain;
 background-repeat: no-repeat;
 padding-top: 19em;
 }

 .card {
  margin: auto;
  width: 50%;
 }


 /*

    {
      "email": "hita@mailinator.com",
      "password": "$2a$10$mmn8g98t1qO6w2PaaflgVe.qkGOwGRV/ZY8cjW5AsuaiAvGHdHKuS",
      "name": "Reed Mcmillan",
      "id": 1
    }
 */
