<div id="container" class="d-flex">


  <div class="card border-0 text-center" >
    <div class="card-body">
      <form>
        <div class="form-group mb-3">
          <label for="loginEmail">EMAIL:</label>
          <input type="email" class="form-control text-center" id="loginEmail" name="loginEmail" required
            [(ngModel)]="userLogged.email" />
        </div>
        <div class="form-group mb-3">
          <label for="loginPassword">PASSWORD:</label>
          <input type="password" class="form-control text-center" id="loginPassword" name="loginPassword" required
            [(ngModel)]="userLogged.password" />
        </div>
        <button (click)="login()" type="submit" class="btn btn-primary">
          Login
        </button>
      </form>
    </div>
  </div>




  <!-- <div class="card border-0 text-center">
    <h2 class="card-title">Registrazione</h2>
    <form>
      <div class="form-group">
        <label for="regName">Nome:</label>
        <input type="text" class="form-control text-center" id="regName" name="regName" required [(ngModel)]="newUser.name" />
      </div>
      <div class="form-group">
        <label for="regEmail">Email:</label>
        <input type="email" class="form-control text-center" id="regEmail" name="regEmail" required [(ngModel)]="newUser.email" />
      </div>
      <div class="form-group">
        <label for="regPassword">Password:</label>
        <input type="password" class="form-control text-center" id="regPassword" name="regPassword" required
          [(ngModel)]="newUser.password" />
      </div>
      <button (click)="register()" type="submit" class="btn btn-primary">
        Registrati
      </button>
    </form>
  </div>
</div> -->
