<nav class="navbar navbar-expand-sm navbar-dark bg-dark d-md-none" aria-label="Third navbar example">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" href="#">Sushi Order</a>
    <button (click)="show = !show" class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ show: show }" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth">Area Riservata
            <i *ngIf="!isLogged" class="bi bi-lock"></i>
          <i *ngIf="isLogged" class="bi bi-unlock"></i>
          </a>
        </li>

        <li ngbDropdown class="nav-item dropdown">
          <a class="btn text-light" id="dropdownBasic1" ngbDropdownToggle>
            Menu
          </a>
          <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu p-0 bg-dark">
            <li>
              <a routerLink="/menu/antipasti" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-light">Antipasti</a>
            </li>
            <li>
              <a routerLink="/menu/zuppe" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-light">Zuppe</a>
            </li>
            <li>
              <a routerLink="/menu/primi" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-light">Primi</a>
            </li>
            <li>
              <a routerLink="/menu/hosomaki" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-light">Hosomaki</a>
            </li>
            <li>
              <a routerLink="/menu/uramaki" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-light">Uramaki</a>
            </li>
            <li>
              <a routerLink="/menu/temaki" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-light">Temaki</a>
            </li>
            <li>
              <a routerLink="/menu/sushi" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-light">Sushi</a>
            </li>
            <li>
              <a routerLink="/menu/secondi" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-light">Secondi</a>
            </li>
            <li>
              <a routerLink="/menu/dolci" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-light">Dolci</a>
            </li>
            <li>
              <a routerLink="/menu/bibite" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-light">Bibite</a>
            </li>
            <li>
              <a routerLink="/reviews" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-light">Recensioni</a>
            </li>
            <li *ngIf="isLogged">
              <a routerLink="/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-light">Dashboard</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
