.form-check-input .form-check-label {
  /* Stile di base per la label che funge da checkbox personalizzato */
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #eee;
  cursor: pointer;
  /* Aggiungi altri stili qui per personalizzare ulteriormente l'aspetto */
}
