<div ngbAccordion>
  <div ngbAccordionItem *ngFor="let order of orders" [ngStyle]="dynamicStyles">
    <h2 ngbAccordionHeader>
      <div class="d-flex justify-content-beetween flex-row-reverse">
        <button ngbAccordionButton class="text-bg-dark">
          Order: {{ order.id }} (Total Cost: {{ order.totalCost }} €)
        </button>
        <div class="form-check form-switch ms-3">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
        </div>
      </div>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody *ngFor="let item of order.items">
        <ng-template>
          <h3>{{ item.titolo }}</h3>
          <p>Quantity: {{ item.quantity }}</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
