<div class="container-fluid">
  <div class="row">
    <div class="col d-flex p-0">
      <div class="imgwrap fadeInDown delay-1">
        <img
          class=""
          src="../../../assets/image/sushi_1.jpg"
          alt="Foto di sushi"
        />
      </div>
      <div class="imgwrap fadeInDown delay-2">
        <img src="../../../assets/image/sushi_2.jpg" alt="Foto di sushi" />
      </div>
      <div class="imgwrap fadeInDown delay-3">
        <img src="../../../assets/image/sushi_3.jpg" alt="Foto di sushi" />
      </div>
      <div class="imgwrap fadeInDown delay-4">
        <img src="../../../assets/image/sushi_4.jpg" alt="Foto di sushi" />
      </div>
      <div class="imgwrap fadeInDown delay-5">
        <img src="../../../assets/image/sushi_5.jpg" alt="Foto di sushi" />
      </div>
    </div>
  </div>
  <img id="logo" src="../../../assets/image/Prova logo episushi.svg" alt="">
</div>
