@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.6s;
}
.delay-4 {
  animation-delay: 0.8s;
}
.delay-5 {
  animation-delay: 1s;
}

.imgwrap {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.imgwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-color {
  background: linear-gradient(to top, #99735e, #000000);
}

.img-Home {
  width: 450px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: fadeInLeft 2s ease-out forwards;
}

.fade-in-right {
  animation: fadeInRight 1s ease-out forwards;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-sushilight {
  width: 250px;
  animation: rotateImage 0.5s linear 1;
}

.img-gradient {
  background: linear-gradient(to bottom, #99735e, #000000);
}

.font-PermanentMarker {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-PermanentGotham {
  font-family: GothamPro;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 18px;
}

.logo-episushi {
  width: 500px;
}

.filter-episushi {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

p {
  letter-spacing: 0.1em;
  text-align: justify;
}
