<form class="reviews d-flex justify-content-start mt-3 " >
    <img  [class.rated]="rating >= 1" (click)="setRating(1)"  class="mx-3 icon" src="./../../../assets/image/sushi icon.svg" alt="icon-Sushi">
    <img [class.rated]="rating >= 2" (click)="setRating(2)" class="mx-3 icon" src="./../../../assets/image/sushi icon.svg" alt="icon-Sushi">
    <img [class.rated]="rating >= 3" (click)="setRating(3)" class="mx-3 icon" src="./../../../assets/image/sushi icon.svg" alt="icon-Sushi">
    <img [class.rated]="rating >= 4" (click)="setRating(4)" class="mx-3 icon" src="./../../../assets/image/sushi icon.svg" alt="icon-Sushi">
    <img [class.rated]="rating >= 5" (click)="setRating(5)" class="mx-3 icon" src="./../../../assets/image/sushi icon.svg" alt="icon-Sushi">
    <span *ngIf="rating > 0">{{ emoji }}</span>
</form>
