.container {
  max-width: 900px;
  margin-bottom: 10rem;
}

.profile-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  animation: grow 1.5s ease-out forwards;
}

@keyframes grow {
  0% {
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
  100% {
    width: 300px;
    height: 300;
    opacity: 1;
  }
}

.carousel-inner img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.carousel-img {
  width: 100%;
  height: auto;
}
