<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <img src="../../../assets/image/img_profileMike.PNG" class="profile-image rounded-circle mb-3" alt="Profile Image">
      <p class="lead text-white mt-4">Benvenuto! Conosci il nostro Captain Mike! Una vera leggenda! Odia PHP con la stessa passione con cui un pirata odia la marina britannica.
        Il suo cuore, però, batte per gli array di pizza, che organizza e gestisce con la stessa passione di un vero chef.
        "Il codice e il sushi hanno una cosa in comune," dice spesso con un sorriso malizioso, "entrambi devono essere freschi e ben tagliati!"
        Ogni riga di codice è un boccone di puro gusto, e ogni bug risolto è come trovare un pezzo di zenzero perfettamente affettato. Con lui, ogni lezione è una degustazione EPICA,
        dove i comandi di Angular sono i nigiri, e gli array di pizza sono i maki più deliziosi.
      </p>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-8">
      <div id="profileCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/image/mike1.jpeg" class="d-block carousel-img" alt="...">
          </div>
          <div class="carousel-item">
            <img src="" class="d-block carousel-img" alt="...">
          </div>
          <div class="carousel-item">
            <img src="" class="d-block carousel-img" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#profileCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#profileCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
