.container {
  max-width: 900px;
  margin-bottom: 10rem;
}

.profile-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.carousel-inner img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.carousel-img {
  width: 100%;
  height: auto;
}
