<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <img
        src="../../../assets/image/img_profileMike.PNG"
        class="profile-image rounded-circle mb-3"
        alt="Profile Image"
      />
      <p class="lead text-white mt-4">
        Benvenuto! Conosci il nostro Captain Mike! Una vera leggenda! Odia PHP
        con la stessa passione con cui un pirata odia la marina britannica. Il
        suo cuore, però, batte per gli array di pizza, che organizza e gestisce
        con la stessa passione di un vero chef. "Il codice e il sushi hanno una
        cosa in comune," dice spesso con un sorriso malizioso, "entrambi devono
        essere freschi e ben tagliati!" Ogni riga di codice è un boccone di puro
        gusto, e ogni bug risolto è come trovare un pezzo di zenzero
        perfettamente affettato. Con lui, ogni lezione è una degustazione EPICA,
        dove i comandi di Angular sono i nigiri, e gli array di pizza sono i
        maki più deliziosi.
      </p>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-8">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img
            src="../../../assets/image/mike1 (1).jpeg"
            class="d-block w-100 carousel-img"
            alt="First slide"
          />
        </ng-template>
        <ng-template ngbSlide>
          <img
            src="../../../assets/image/Mike 2.png"
            class="d-block w-100 carousel-img"
            alt="Second slide"
          />
        </ng-template>
        <ng-template ngbSlide>
          <img
            src="../../../assets/image/Mike_3 (1).jpg"
            class="d-block w-100 carousel-img"
            alt="Third slide"
          />
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
